/home/steff007/.cache/do
/home/steff007/.cache/gitstatus
/home/steff007/.cache/jedi
/home/steff007/.cache/matplotlib
/home/steff007/.cache/p10k-steff007/
/home/steff007/.cache/parso
/home/steff007/.cache/pip/**
/home/steff007/.cache/pipenv
/home/steff007/.cache/powershell
/home/steff007/.cache/python-tldextract
/home/steff007/.cache/ranger
/home/steff007/.cache/yarn
/home/steff007/.cache/youtube-dl
/home/steff007/.cache/yt-dlp
.cache/
# Logs
*.bak
*.gz
*.his
*.jpg
*.log
*.mp3
*.shell
*.tar
.cargo/
.config/nvim/plugged/
.ipython/
.local/
.npm/
.oh-my-zsh/
.python_history
.rustup
.tldr
.zcompdump-DESKTOP-8JMUDRE-5.8
/home/steff007/mysql
/wordp
/wp2
/wp3
datadir/
gitapi/
jgit/
lib/
logs
mysql
mysql/**
shellcheck-v0.7.0/
sql_hist
tmp/
~/.bash_aliases
~/.zcomp*
