!/home/steff007/.config/nvim/init.vim
jgit/
.config/nvim/plugged/
.cache/
.ipython/
.local/
.npm/
gitapi/
sql_hist
~/.bash_aliases
*.mp3
*.jpg
.zcompdump-DESKTOP-8JMUDRE-5.8
~/.zcomp*
.oh-my-zsh/
.rustup
.cargo/
datadir/
shellcheck-v0.7.0/
*.shell
lib/
*.gz
*.his
*.bak
mysql/**
mysql
.tldr
/wp2
/wp3
/wordp
/home/steff007/mysql
*.tar
# Logs
logs
*.log
