[user]
	email = jimsteffes@outlook.com
	name = Jim wsl laptop Steffes
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
[pager]
	branch = false
  log = false
  diff = false
  show = false
[safe]
	directory = /etc/ssh
[init]
	defaultBranch = main
